/* Sidebar.css */
.sidebar {
  width: 250px;
  background-color: #3f51b5; /* Material Indigo */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.project-name {
  font-size: 1.5em;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  background-color: #303f9f;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* 在鼠标悬停时改变背景颜色，模拟按钮效果 */
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
